body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #fff;
}

div{
    margin: 0;
}
hr{
    border: 7px #bebbbb;
    border-top-style: dotted;
    width: 5%;
    margin: 100px auto;
}
h1{
    font-size: 6rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}
h2{
    color: #66BFBF;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}

h3{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p {
    color: #40514E;
    line-height: 1.8;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}

.top-container{
    background-color: #eaf6f6;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    padding-top: 100px;
    margin: 100px auto;
}
.description {
    width: 25%;
    margin: auto;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}
#web-dev{
    margin-bottom: 0;
}

.top-cloud{
    position: absolute;
    top: 100px;
    right: 300px;
}
.bottom-cloud{
    position: absolute;
    bottom: 250px;
    left: 300px;

}
.profile-img{
    height: 200px;
    width: 180px;
    border-radius: 20%;
}
.skill2{
    text-align: right;
}
.web-img{
    width: 46%;
    background-color: #ebe6e6;
    border-radius: 5%;
    float: left;
    margin-right: 35px;
}
.python-img{
    width: 16%;
    background-color: #ebe6e6;
    border-radius: 5%;
    float: right;
    margin-left: 35px;
}
.definition{
    font-weight: normal;
}
.contact-me{
    margin-bottom: 15px;
}
.contact-message{
    width: 35%;
    margin: 40px auto 60px;
}
.bottom-container{
    background-color: #66bfbf;
    padding: 40px 0 20px;
}

#copyright{
    margin: 20px auto 0 auto;
    color: #EAF6F6;
    font-size: 0.75rem;
}
.btn {
    border: solid #30E3EC 1px;
    background: #30E3EC;
    background-image: -webkit-linear-gradient(top, #30E3EC, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3EC, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3EC, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3EC, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3EC, #2BC4AD);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    box-shadow: 1px 1px 3px 0px #000000;
    -webkit-box-shadow: 1px 1px 3px 0px #000000;
    -moz-box-shadow: 1px 1px 3px 0px #000000;
    text-shadow: 1px 1px 10px #666666;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
    
.btn:hover {
    border: solid #337FED 1px;
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #1199E9);
    background-image: -moz-linear-gradient(top, #11CDD4, #1199E9);
    background-image: -ms-linear-gradient(top, #11CDD4, #1199E9);
    background-image: -o-linear-gradient(top, #11CDD4, #1199E9);
    background-image: linear-gradient(to bottom, #11CDD4, #1199E9);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
}
